@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../theme/variables.scss';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';

.home {
  // min-height: calc(100vh - #{$footer-height});
  // margin-bottom: 86px;
  height: 100vh;
  background-image: url('./HomeBackground.png');
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 70s linear infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  position: relative;

  .masthead {
    text-align: center;
    // position: absolute;
    // top: 50%;
    // left: 0;
    // right: 0;
    // transform: translateY(-50%);
    padding-top: 150px;
    h1 {
      color: $brand-primary;
      font-weight: 700;
      margin-bottom: 136px;
    }
  }

  .quizletLoginBtn {
    padding-left: 21px;
    padding-right: 21px;
    > img {
      height: 34px;
      // width: 52px;
      margin-right: 10px;
    }

    h4 {
      display: inline-block;
      font-weight: 500;
    }
  }
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
