@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../theme/variables.scss';

.header {
  z-index: 3;
  text-align: center;
  height: $header-height;
  h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    font-weight: 500;
    color: $white;
    margin: 20px 0;
  }
  .backBtn {
    position: absolute;
    left: 15px;
    i {
      vertical-align: middle;
    }
  }
}
