@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../theme/variables.scss';

.sets {
  margin: 12px;
  margin-top: $header-height + 12px;
  .setTitle {
    color: $brand-primary;
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .set {
    background-color: $white;
    min-height: 110px;
    color: $brand-primary2;
    text-align: center;
    padding: 30px;
    cursor: pointer;
  }
  .set + .set {
    margin-top: 12px;
  }
}
